@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


header{
    position:fixed;
    background:white;
    width: 100%;
    height: 120px;
    
    .logo_header{
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        
        img{
            height: 50px;
            width: 50px;
             }
   
        a{
            line-height: 130px;
            margin-right: 10px;
            text-decoration: none;
            color: black;
            font-family: 'Sacramento', cursive;
            font-size: 50px;
            font-weight: 600;
            
            &:hover{
                color: #FACC2E;
            }
        }
    }
}