.img_slider{
    display: flex;
    overflow: hidden;
}

.slider{
    position: static;
    overflow: hidden;
    padding-top: 120px;

    .slider_images{
        display: flex;
        
        input{
          display: none;
        }
    
        img{
            width: 100%;
            transition: all 0.8s ease;
        }
    }  
   
    .dots{
        display: flex;
        justify-content: center;
        margin: 5px;
        
        label{
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: solid #FACC2E 3px;
            cursor: pointer;
            transition: all 0.15s ease;
            margin: 4px;
            
            &:hover{
                background: #FACC2E;
            }
        }
    } 
}


#img1:checked ~ .i1{
    margin-left: 0;
}
#img2:checked ~ .i2{
    margin-left: -100%;
}
#img3:checked ~ .i3{
    margin-left: -200%;
}
#img4:checked ~ .i4{
    margin-left: -300%;
}  